<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head_chat.ejs") %>

<body>
  <main>
    <h1>Realtime Chatroom – Opzet</h1>

    <section>
      <ul></ul>
    </section>

    <form>
      <input type="text" id="message" autocomplete="off">
      <button>Versturen</button>
    </form>
  </main>
</body>

</html>
