<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

   <body>

      <main>
         <section>
            <h1>Piepiepoepoe, tjet.</h1>
            <form id="name-form">
               <input type="text" id="user-name" placeholder="Your name" autocomplete="off" required />
               <button>
                  <span>Join</span>
               </button>
            </form>
         </section>
      </main>

   </body>

</html>