<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head_index.ejs") %>

<body>
  <main>
      <h1> Test </h1>

      <a href="/join-room">Join Room</a>
  </main>

  <script type="module" src="/js/app.js"></script>
</body>

</html>
