<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head_preLobby.ejs") %>

<body>

  <main>

    <h1>Pre-Lobby</h1>

    <form id="preLobbyForm">

      <label for="username">Gebruikersnaam:</label>
      <input type="text" id="username" name="username" required>
      
      <p>Kies een struisvogelkleur:</p>

      <div>
        <input type="radio" id="groen" name="color" value="groen" required>
        <label for="groen">Groen</label>
      </div>

      <div>
        <input type="radio" id="geel" name="color" value="geel">
        <label for="geel">Geel</label>
      </div>

      <div>
        <input type="radio" id="blauw" name="color" value="blauw">
        <label for="blauw">Blauw</label>
      </div>

      <div>
        <input type="radio" id="rood" name="color" value="rood">
        <label for="rood">Rood</label>
      </div>

      <p id="timer">Timer: <span id="countdown">60</span> seconden</p>

      <button type="submit">Ga naar race</button>

    </form>

  </main>

</body>

</html>
