<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>

  <main class="main-quiz_results">
    <section>
      <h2>En de winnaar is <%= winner %>!</h2>
      <a href="/">Speel nog een keer</a>
    </section>
  </main>

</body>
</html>
