<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head_race.ejs") %>

<body>

    <main>

        <h1>Race</h1>
    
        <div id="race-track">
          <div class="race-lane" id="lane-1">
            <div class="ostrich" id="ostrich-1"></div>
          </div>
          <div class="race-lane" id="lane-2">
            <div class="ostrich" id="ostrich-2"></div>
          </div>
          <div class="race-lane" id="lane-3">
            <div class="ostrich" id="ostrich-3"></div>
          </div>
          <div class="race-lane" id="lane-4">
            <div class="ostrich" id="ostrich-4"></div>
          </div>
        </div>
    
        <h2 id="animal-name" class="hidden"></h2>
        <input type="text" id="animal-input" class="hidden" />
    
    </main>

</body>

</html>
