<!DOCTYPE html>

<html lang="en">

<%- include("../partials/head.ejs") %>

   <body>

    <main class="main-start-quiz">
        <section>
            <h1>
                De Últieme Muzikale Uitdaging.
            </h1>
        </section>

        <section>
            <p>Daag je vrienden uit in de ultieme muziek quiz.</p>
            <a href="/enter_username">Test je kennis</a>
        </section>
    </main>

   </body>

</html>